<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last message</title>
</head>
<body>
    <h1>Your last message is: <%= lastMessage %></h1>
    <!-- cwd: <%= cwd %> -->
    <!-- __dirname: <%= __dirname %> -->
</body>
</html>